<div class="container">
	<div class="row">
		
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="https://via.placeholder.com/600x200" class="d-block w-100" alt="...">
				<div class="carousel-caption d-none d-md-block">
					<h5>About Me</h5>
					<p>ShoppingZone is the world's largest online retailer and a prominent cloud services provider.</p>
				</div>
			</div>
		</div>
	</div>
</div>

