<div class="about">
	<h5 class="text-center">About Me</h5>
	<p>ShoppingZone is the world's largest online retailer and a prominent cloud services provider.</p>
	<p>ShoppingZone  is a one stop shop for all your fashion and lifestyle needs. Being India's largest e-commerce store for fashion and lifestyle products, ShoppingZone  aims at providing a hassle free and enjoyable shopping experience to shoppers across the country with the widest range of brands and products on its portal.
	Launching the stylish new Autumn/Winter '19 collection. Shop from the best of apparel, footwear, accessories & more for men, women & kids. Premium Brands. 5 Lakhs Styles. 2000+ Brands. 30 Days Return. Types: Shoes, T-Shirts, Dresses, Party Wear, Casual Wear.
</p>
</div>

