<div class="album text-muted">
	<div class="container">
		<%= render "shared/application_banner" %>

		<div class="row" style="margin-top: 30px;">

			<% @products.each do |product| %>

			<div class="card picture">
				<%= image_tag product.image_url(:thumb) %>

				<p class="card-text">
					<div><%= link_to product.title, product_path(product) %></div>
				</p>
			</div>

			<% end %>

		</div>
	</div>
</div>