<div class="container">
	<div class="row">
		<div class="col-md-7 pictures">
			<%= image_tag @product.image_url(:large) %>
		</div>

		<div class="col-md-5">

			<em><%= @product.title %> </em>
			<hr>

			<p> <%=  @product.description %> </p>

			<p>$<%= @product.price  %> </p>

			<button type="button" class="btn btn-warning">Add To Cart</button>
			<button type="button" class="btn btn-info">Buy Now</button>
			
		</div>
	</div>
</div>
